<!-- <mat-accordion>
    <mat-card-title>Post comments</mat-card-title>
    <button mat-raised-button routerLink="/posts" routerLinkActive="active" color = "primary">
        Back
    </button>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let comment of comments$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{comment.postId}}
            </mat-panel-title>
          <mat-panel-title>
            {{comment.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{comment.email}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{comment.body}}</p>
      </mat-expansion-panel>
    </mat-accordion> -->