
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let saved of saved; let i =index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{saved.title}}
          </mat-panel-title>
          <mat-panel-description>  
            <button mat-raised-button (click) = "delete(saved.id)" color = "warn">
                Delete
          </button>
          </mat-panel-description>
          <mat-panel-description>  
            <button mat-raised-button (click) = "update(saved.id, saved.likes)" >
              LIKE
          </button>
          <pre> <b> {{saved.likes}}</b></pre>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{saved.body}}</p>
      </mat-expansion-panel>
    </mat-accordion>
    