<mat-card>
    <h1>Sign Up</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
            <p>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
                <mat-hint>The one you really read</mat-hint>
            </mat-form-field>
            </p> 
            <p>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
                <mat-hint>8 chracters or more</mat-hint>
            </mat-form-field>
            </p>                                       
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                        Sign Up
            </button>
        </div>
        <p *ngIf = "isError">{{errorMessage}}</p>
        </div>
    </form>
</mat-card>