
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let post of posts$ | async; let i =index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{post.id}}   
        </mat-panel-description>
        <mat-panel-description>  
          <button mat-raised-button (click) = "add(i, post.title, post.body)" *ngIf = "!saved[i]">
            Save
        </button>
        <h3 *ngIf = "saved[i]"> saved for later viewing</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  